<!-- @format -->

<html>
  <head>
    <meta charset="utf-8" />
    <title>정규식 실습</title>
    <style>
      .chk {
        color: #0e7b17;
        font-weight: 700;
      }
      .result {
        width: 400px;
        height: auto;
        background-color: lightcyan;
        padding: 20px;
        text-align: center;
        font-size: 20px;
      }
      #end {
        text-align: center;
      }
      #end img {
        vertical-align: middle;
        vertical-align: -webkit-baseline-middle;
        width: 100px;
        height: auto;
      }
    </style>
  </head>
  <body>
    <h1>두 수의 합 확인하기</h1>

    <input type="button" value="결과보기" onclick="execute();" />
    <input type="text" id="num1" size="5" /> + <input type="text" id="num2" size="5" /> = <span id="result"></span> <br /><br />

    <hr />

    <h1>회원가입 유효성 체크</h1>

    <form action="" method="post" onsubmit="return validate();" style="background-color: lightgoldenrodyellow">
      <!-- 제출시 행동 -->
      <label for="userid">* 유저아이디</label>
      <input type="text" name="userid" id="userid" /><br />
      <label for="pass">* 비밀번호</label>
      <input type="password" name="pass" id="pass" /><br />
      <label for="pass1">* 확인</label>
      <input type="password" name="pass1" id="pass1" /><br />
      <label for="name">* 이름</label>
      <input type="text" name="name" id="name" /><br />
      <label for="email">* 이메일</label>
      <input type="text" name="email" id="email" /><br />
      <br />
      <label for="tel1">전화번호</label>
      <input type="text" name="tel1" id="tel1" maxlength="3" size="3" /> - <input type="text" name="tel2" id="tel2" maxlength="4" size="4" /> -
      <input type="text" name="tel3" id="tel3" maxlength="4" size="4" />
      <br /><br /><br />
      <label for="job">직업</label>
      <select name="job" id="job">
        <option>개발자</option>
        <option>프로그래머</option>
        <option>자영업자</option></select
      ><br />
      <label for="gender">성별</label>
      <input type="radio" name="gender" value="m" /> 남 <input type="radio" name="gender" value="f" /> 여<br />
      <label for="hobby">취미</label>
      <input type="checkbox" name="hobby" value="reading" /> 독서 <input type="checkbox" name="hobby" value="drama" /> 드라마보기 <input type="checkbox" name="hobby" value="soccer" /> 축구<br />
      <input type="checkbox" name="hobby" value="movie" /> 영화보기 <input type="checkbox" name="hobby" value="basket" /> 드라마보기 <input type="checkbox" name="hobby" value="game" /> 게임<br />
      <input type="reset" value="리셋" />
      <input type="submit" value="완료" />
    </form>
    <hr />

    <h1>특정한 형식의 파일 찾기</h1>
    <p style="border: 1px solid blue; background-color: #1a2d0f; color: snow; padding: 10px">
      일반적으로 서버에 파일을 저장할 때 우리는 파일의 확장자를 특정 형식에 맞게 작성합니다.<br />
      Windows 운영체제를 사용하는 경우 이러한 확장자가 기본으로 숨겨지지만<br />
      우리가 앞으로 접할지도 모르는 일반적인 서버 환경의 pc에서는 확장자가 표시됩니다.<br />
      이 중 이미지 파일의 확장자는 (.jpg / .png / .gif)로 정의됩니다.<br /><br />
      다음은 특정 확장자를 가지는 파일들의 목록입니다.<br />
      이 중에서 이미지 파일만 찾기 위한 정규식을 사용해 보세요.
    </p>
    <table style="background-color: lightgoldenrodyellow; border: 1px solid black; padding: 10px">
      <thead>
        <tr>
          <th style="width: 140px">파일 명</th>
          <th>확장자</th>
        </tr>
      </thead>
      <tbody>
        <tr class="chk">
          <td>umzzal.gif</td>
          <td>이미지 파일</td>
        </tr>
        <tr>
          <td>.git</td>
          <td>시스템 숨김 파일</td>
        </tr>
        <tr>
          <td>.gitignore</td>
          <td>시스템 숨김 파일</td>
        </tr>
        <tr>
          <td>homework.doc</td>
          <td>문서 파일</td>
        </tr>
        <tr>
          <td>index.html</td>
          <td>HTML 문서</td>
        </tr>
        <tr class="chk">
          <td>img0419.jpg</td>
          <td>이미지 파일</td>
        </tr>
        <tr>
          <td>img0419.jpg.tmp</td>
          <td>임시 파일</td>
        </tr>
        <tr class="chk">
          <td>icon.png</td>
          <td>이미지 파일</td>
        </tr>
        <tr>
          <td>img0419.jpg1</td>
          <td>속임수 파일</td>
        </tr>
      </tbody>
    </table>
    <br />
    <label>정규식 입력하기 : </label>/ <input type="text" id="regTest" size="7" /> /gim&nbsp;&nbsp; &nbsp;&nbsp;
    <button onclick="regTestFn();">결과 보기</button>
    <div class="result" id="regResult">결과 확인 창</div>

    <hr />

    <h1>숫자 천단위 ',' 붙이기</h1>
    <p style="border: 3px solid snow; background-color: darkolivegreen; color: snow; padding: 10px">
      자바에서 자바 스크립트로 숫자를 넘길 때 천 단위에 쉼표를 붙여서<br />
      표현해야 하는 경우가 종종 있습니다. 이번 실습은 이러한 문제를<br />
      정규 표현식을 통해 직접 처리해 보는 것입니다.<br /><br />
      아래의 input 태그에 onkeyup 이벤트를 comma(this) 함수와 바인딩하여<br />
      숫자를 천단위로 구분하는 정규식을 직접 작성해 보세요.
    </p>
    <label>숫자 입력하기 : </label><input type="number" id="numberTest" onkeyup="comma(this);" />
    <div class="result" id="regResult2">결과 확인 창</div>

    <hr />
    <h1>JavaScript & CSS 분리하기</h1>
    <p>
      현재 작성되어 있는 script와 css를 별도의 silsub3.js와 silsub3.css파일로 만들어<br />
      각각 js, css 폴더에 분리하여 넣은 뒤 해당 소스를 이 문서에 첨부하세요.
    </p>
    <br />
    <br />
    <br />
    <br />
    <br />

    <h1 id="end"><img src="../resources/images/angel.png" style="transform: rotateY(180deg)" />수고하셨습니다.<img src="../resources/images/angel.png" /></h1>

    <script type="text/javascript">
      function execute() {
        /// num1과 num2의 결과를 합쳐서 result에 보여주기
        var num1 = document.getElementById('num1');
        var num2 = document.getElementById('num2');
        var result = Number(num1.value) + Number(num2.value);

        // 계산 결과가 숫자이면 계산 결과를 출력하고,
        // 계산 결과가 숫자가 아니면 "숫자가 아닙니다."라고 출력하세요.

        // 1. 문자 --> 숫자를 사용한 방법
        // 문자-> 숫자 : parseInt(), Number() (실수 : parseFloat())

        /*
        var sp = document.getElementById('result');
        
        if(!isNaN(parseInt(result))){
          sp.innerHTML = result;
        }else{
          sp.innerHTML = "숫자가 아닙니다.";
        }
        */

        // 2. 정규식을 사용한 방법

        // 정규식 이용한 숫자 검사
        // validation : 유효성 체크
        /*
                    정규식 작성법
                    1. var re = /정규식/;
                    2. var re = new RegExp("정규식");
                    */
        var sp = document.getElementById('result');

        var re = /^[0-9]$/g;

        if(re.test(result)){
            sp.innerHTML = result;
        }else{
            sp.innerHTML = "숫자가 아닙니다.";
        }
      }

      function validate() {
        // hint : 현재 구현되어 있는 chk() 함수를 사용해 보세요.
        var id = document.getElementById('userid');
        var pass = document.getElementById('pass');
        var pass1 = document.getElementById('pass1');
        var name = document.getElementById('name');
        var email = document.getElementById('email');
        var tel1 = document.getElementById('tel1');
        var tel2 = document.getElementById('tel2');
        var tel3 = document.getElementById('tel3');

        // 이메일 검사
        // 4글자 이상(\w = [a-zA-Z0-9_], [\w-\.]) @가 나오고
        // 1글자 이상(주소). 글자 가 1~3번 반복됨

        // 아이디 검사
        // 첫 글자는 반드시 영문 소문자, 4~12자로 이루어지고, 숫자가
        // 하나 이상 포함되어야 한다. 영문소문자와 숫자로만 이루어져야한다.
        // \d : [0-9]와 같다.       {n,m} : n에서 m까지 글자수

        // 비밀번호 확인 검사

        // 이름 검사
        // 2글자 이상, 한글만
        // 통과하지 못하면 한글로 2글자 이상을 넣으세요~ alert 출력!

        // 전화번호 검사

        // 전화번호 앞자리는 2~3자리 숫자, 두번째 자리는 3~4자리 숫자
        // 세번째 자리는 4자리 숫자

        function chk(re, e, msg) {
          if (re.test(e.value)) {
            return true;
          }

          alert(msg);
          e.value = '';
          e.focus();
          return false;
        }
      }


      function regTestFn() {
        // 현재 이 메소드는 완성되어 있습니다.
        // 필요한 정규표현식을 화면에서 적어 확인해 보세요.
        var regTest = new RegExp(document.getElementById('regTest').value, 'gim');
        var fileArray = ['umzzal.gif', '.git', '.gitignore', 'homework.doc', 'index.html', 'img0419.jpg', 'img0419.jpg.tmp', 'icon.png', 'img0419.jpg1'];
        var regResult = document.getElementById('regResult');
        regResult.innerHTML = '';

        for (var i in fileArray) {
          var file = fileArray[i];
          if (regTest.test(file)) regResult.innerHTML += file + '<br>';
        }
      }

      function comma(obj) {
        var commaNum = obj.value;
        var regResult = document.getElementById('regResult2');
        // hint
        // \B'ABC' : 'ABC'로 시작하지 않는 것을 찾는다.
        // (?='ABC') : Positive lookahead (긍정형 전방 탐색)
        //   'ABC'를 찾되 'ABC' 전까지만 찾아라 라는 뜻이다.
        // (?!'ABC') : Nagative lookahead (부정형 전방 탐색)
        //   'ABC'가 아닌 것을 찾되 앞의 특수한 형식을 맞춰서 찾아라 라는 뜻이다.

        regResult.innerHTML = commaNum.replace(/(?=\d{3})/g, function (val) {
          return val + ',';
        });
      }
    </script>
  </body>
</html>
