<!-- @format -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <style>
      .test {
        width: 100px;
        height: 100px;
        background: gold;
      }
      .test1 {
        margin: 50px;
      }

      .test2 {
        padding: 50px;
      }

      .test3 {
        margin-top: 50px;
        margin-left: 100px;
      }

      .test4 {
        padding-top: 50px;
        padding-left: 100px;
      }
    </style>
  </head>
  <body>
    <h1>여백 관련 스타일</h1>
    <pre>
          margin : 바깥 여백의 공간
          padding : 안쪽 여백의 공간

      </pre
    >

    <h3>기본 div</h3>

    <div class="test">기본 div</div>

    <h3>margin test</h3>
    <p>margin : 50px;</p>

    <div class="test test1">뽀로로와 친구들</div>

    <h3>padding test</h3>
    <p>padding : 50px;</p>
    <div class="test test2">볼트론</div>

    <h3>margin 과 padding 상세 설정</h3>
    <p>margin-top : 50px; margin-left : 100px;</p>
    <div class="test test3">검정고무신</div>

    <p>padding-top : 50px; padding-left : 100px;</p>
    <div class="test test4">카드캡터 사쿠라</div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <a href="index.html">처음으로 돌아가기</a>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </body>
</html>
