<!-- @format -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>다단 스타일</title>
    <style>
      .wrap {
        border: 1px solid black;
        height: 250px;
      }

      .column1 {
        column-width: 300px;
        column-gap: 50px;
      }

      .column2 {
        column-count: 3;
        column-rule-style: dashed; /*각 단 끼리는 dashed로 구분지어 주세요*/
        overflow: scroll; /* 화면에서 넘치는 내용 처리*/
      }
    </style>
  </head>
  <body>
    <h1>다단 스타일</h1>
    <pre>
        column-width : 한 단의 가로 넓이를 
        column-gap : 각 단의 간격
        column-rule-style : 각 단의 구분자 모양(줄 모양)
        column-count : 선언할 단의 갯수

    </pre>

    <h3>다단 스타일 1</h3>
    <div class="wrap column1">
      국회에 제출된 법률안 기타의 의안은 회기중에 의결되지 못한 이유로 폐기되지 아니한다. 다만, 국회의원의 임기가 만료된 때에는 그러하지 아니하다. 국회의원은 현행범인인 경우를 제외하고는 회기중 국회의
      동의없이 체포 또는 구금되지 아니한다. 나는 헌법을 준수하고 국가를 보위하며 조국의 평화적 통일과 국민의 자유와 복리의 증진 및 민족문화의 창달에 노력하여 대통령으로서의 직책을 성실히 수행할 것을
      국민 앞에 엄숙히 선서합니다. 탄핵결정은 공직으로부터 파면함에 그친다. 그러나, 이에 의하여 민사상이나 형사상의 책임이 면제되지는 아니한다. 대통령은 법률이 정하는 바에 의하여 사면·감형 또는 복권을
      명할 수 있다. 연소자의 근로는 특별한 보호를 받는다. 누구든지 체포 또는 구속을 당한 때에는 즉시 변호인의 조력을 받을 권리를 가진다. 다만, 형사피고인이 스스로 변호인을 구할 수 없을 때에는 법률이
      정하는 바에 의하여 국가가 변호인을 붙인다. 지방자치단체는 주민의 복리에 관한 사무를 처리하고 재산을 관리하며, 법령의 범위안에서 자치에 관한 규정을 제정할 수 있다. 대법원은 법률에 저촉되지
      아니하는 범위안에서 소송에 관한 절차, 법원의 내부규율과 사무처리에 관한 규칙을 제정할 수 있다. 법관은 헌법과 법률에 의하여 그 양심에 따라 독립하여 심판한다. 모든 국민은 능력에 따라 균등하게
      교육을 받을 권리를 가진다. 국가원로자문회의의 의장은 직전대통령이 된다. 다만, 직전대통령이 없을 때에는 대통령이 지명한다. 국민경제자문회의의 조직·직무범위 기타 필요한 사항은 법률로 정한다. 모든
      국민은 양심의 자유를 가진다. 타인의 범죄행위로 인하여 생명·신체에 대한 피해를 받은 국민은 법률이 정하는 바에 의하여 국가로부터 구조를 받을 수 있다. 대통령은 필요하다고 인정할 때에는
      외교·국방·통일 기타 국가안위에 관한 중요정책을 국민투표에 붙일 수 있다. 훈장등의 영전은 이를 받은 자에게만 효력이 있고, 어떠한 특권도 이에 따르지 아니한다. 대통령은 제3항과 제4항의 사유를
      지체없이 공포하여야 한다.
    </div>
    <h3>다단 스타일 2</h3>
    <div class="wrap column2">
      국회에 제출된 법률안 기타의 의안은 회기중에 의결되지 못한 이유로 폐기되지 아니한다. 다만, 국회의원의 임기가 만료된 때에는 그러하지 아니하다. 국회의원은 현행범인인 경우를 제외하고는 회기중 국회의
      동의없이 체포 또는 구금되지 아니한다. 나는 헌법을 준수하고 국가를 보위하며 조국의 평화적 통일과 국민의 자유와 복리의 증진 및 민족문화의 창달에 노력하여 대통령으로서의 직책을 성실히 수행할 것을
      국민 앞에 엄숙히 선서합니다. 탄핵결정은 공직으로부터 파면함에 그친다. 그러나, 이에 의하여 민사상이나 형사상의 책임이 면제되지는 아니한다. 대통령은 법률이 정하는 바에 의하여 사면·감형 또는 복권을
      명할 수 있다. 연소자의 근로는 특별한 보호를 받는다. 누구든지 체포 또는 구속을 당한 때에는 즉시 변호인의 조력을 받을 권리를 가진다. 다만, 형사피고인이 스스로 변호인을 구할 수 없을 때에는 법률이
      정하는 바에 의하여 국가가 변호인을 붙인다. 지방자치단체는 주민의 복리에 관한 사무를 처리하고 재산을 관리하며, 법령의 범위안에서 자치에 관한 규정을 제정할 수 있다. 대법원은 법률에 저촉되지
      아니하는 범위안에서 소송에 관한 절차, 법원의 내부규율과 사무처리에 관한 규칙을 제정할 수 있다. 법관은 헌법과 법률에 의하여 그 양심에 따라 독립하여 심판한다. 모든 국민은 능력에 따라 균등하게
      교육을 받을 권리를 가진다. 국가원로자문회의의 의장은 직전대통령이 된다. 다만, 직전대통령이 없을 때에는 대통령이 지명한다. 국민경제자문회의의 조직·직무범위 기타 필요한 사항은 법률로 정한다. 모든
      국민은 양심의 자유를 가진다. 타인의 범죄행위로 인하여 생명·신체에 대한 피해를 받은 국민은 법률이 정하는 바에 의하여 국가로부터 구조를 받을 수 있다. 대통령은 필요하다고 인정할 때에는
      외교·국방·통일 기타 국가안위에 관한 중요정책을 국민투표에 붙일 수 있다. 훈장등의 영전은 이를 받은 자에게만 효력이 있고, 어떠한 특권도 이에 따르지 아니한다. 대통령은 제3항과 제4항의 사유를
      지체없이 공포하여야 한다.
    </div>
  </body>
</html>
