<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>CSS 할용 2 : 썸네일 게시판 UI 만들기</title>
    <!-- 외부 스타일 참조하기 -->
   <link rel="stylesheet" href="../resources/css/gallery.css" type="text/css">
  </head>
  <body>
    <h1>CSS 활용 2 : 썸네일 게시판 UI 만들기</h1>
    
    <hr>

    <div id="gallery">
        <!-- ul>(li>img.small[width=120px height=90px]+img.pic)*6 -->
    
        <ul>
            <li><img src="../resources/image/flower1.PNG" alt="" class="small" width="120px" height="90px">
                <img src="../resources/image/flower1.PNG" alt="" class="pic">
            </li>
            <li><img src="../resources/image/flower2.PNG" alt="" class="small" width="120px" height="90px">
                <img src="../resources/image/flower2.PNG" alt="" class="pic">
            </li>
            <li><img src="../resources/image/flower3.PNG" alt="" class="small" width="120px" height="90px">
                <img src="../resources/image/flower3.PNG" alt="" class="pic">
            </li>
            <li><img src="../resources/image/flower4.PNG" alt="" class="small" width="120px" height="90px">
                <img src="../resources/image/flower4.PNG" alt="" class="pic">
            </li>
            <li><img src="../resources/image/flower5.PNG" alt="" class="small" width="120px" height="90px">
                <img src="../resources/image/flower5.PNG" alt="" class="pic">
            </li>
            <li><img src="../resources/image/city1.PNG" alt="" class="small" width="120px" height="90px">
                <img src="../resources/image/city1.PNG" alt="" class="pic">
            </li>
        </ul>

    </div>
  </body>
</html>
  