<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CSS 활용 4 : 서브메뉴 만들기</title>
    <link rel="stylesheet" href="../resources/css/submenu.css" type="text/css">
</head>
<body>
    <h1>CSS 활용 4 : 서브메뉴 만들기</h1>

    <hr>


        <ul class="nav">
            <li>
                <a href="index.html"> Home </a>
            </li>
            <li>
                <a href="#"> 공지사항 </a>
            </li>
            <li>
                <a href="#">게시판</a>
                <ul>
                    <li>
                        <a href="#">자유 게시판</a>
                    </li>
                    <li>
                        <a href="21_CSS활용2_썸네일_게시판UI만들기.html">사진 게시판</a>
                    </li>
                    <li>
                        <a href="#">방명록</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">마이 페이지</a>
                <ul>
                    <!-- (li>a)*4 -->
                    <li><a href="#">회원 정보 수정</a></li>
                    <li><a href="#">회원 탈퇴</a></li>
                    <li><a href="#">회원 등급 조회</a></li>
                    <li><a href="#">내가 쓴 게시글 조회</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Contact Us</a>
            </li>
        </ul>
    
</html>