<! DOCTYPE html>
<!-- 이 문서는 HTML5로 작성되었다.-->

<html>
  <!-- 웹 문서의 시작 -->
  <head>
    <!-- 현재 웹 문서와 관련된 설정 선언부 -->
    <title>웹 문서의 제목</title>
    <!-- 웹 브라우저 상단의 제목 -->

    <style>
      body {
        background: yellow;
      }
    </style>
    <!-- 웹 문서의 스타일(글 색상, 문서 색상)-->

    <script></script>
    <!-- 웹 문서에서 사용할 스크립트 영역 -->
  </head>

  <body>
    <!-- 웹 문서에서 화면에 보여질 부분 -->

    <h1>Hello world!</h1>
    <!-- h태그 : 웹 문서의 제목을 표현하는 태그 h1~h6 -->

    <h4>이 페이지는 KH정보교육원 수강생을 위한 페이지입니다.</h4>

    <a href="../index.html">메인 페이지로 이동하기</a>
  </body>
</html>
