<!-- ! + tab -->
<!DOCTYPE html>
  <head>
    <meta charset="UTF-8" /> <!-- 이 페이지는 UTF-8을 사용합니다. -->
    <title>글자 관련 태그</title>
  </head>
  <body>
      <!-- HeadLine 태그  -->
      <!-- 웹페이지의 제목을 표현하는 태그 -->
      <h1>h1 태그입니다~</h1>
      <h2>h2 태그입니다!</h2>
      <h3>h3 태그입니다..</h3>
      <h4>h4 태그입니다~~</h4>
      <h5>h5 태그입니다~~!</h5>
      <h6>h6 태그입니다......</h6>

    <p> 
    동      해물과 .. 백두산이
    마르고 <br>
    닳도록 <br>

    하&nbsp;&nbsp;&nbsp;    하느님이 보우하사 우리나라 만세
    남산 위에 저 소나무 철갑을 두른 듯
    무궁화 삼철리 화려강산
    삼천리용
    대 한사 람 대한 으로 길이 보전하세
    양평이요
    </p> 

    <!-- pre 태그는 입력한 모양 그대로 실제 화면에 보여주는 태그  -->
    <pre>
        이 기상과 이 맘으로 
        충성을 다하여   
        가을 하늘 공활한데
        높고 구름없이 
        밝은 달을 우리 가슴 
        일편단심일세 
        더 하나요..?
        무궁화 삼천리 화려강산..
        대한사람 대한으로 길이 보전하세
    </pre>

    <!-- 밑줄 관련 태그  -->
    <h3>밑줄 및 기타 관련 태그들...</h3>

    일반 글꼴<br>
    <strong>굵은 글씨</strong><br>
    <b>굵은 글씨 2</b><br>
    <em>글자를 기울이는 태그</em><br>
    <i>글자를 기울이는 태그2</i><br>

    <!-- 인용 문구 -->
    <blockquote>
        인용문구를 표현하는 태그<br>
        자세히 보아야 예쁘다, 넌 아니다
    </blockquote>
    <q>
        하느님 거기 계십니까?
        그럼 거기 계속 계시옵소서
    </q><br><br>

    <mark>이 부분 시험에 나옵니다!</mark><br>
    <u>글자에 밑줄 긋는 태그</u><br>
    <hr>
    <s>글자 취소선을 표현하는 태그</s><br>
    <small>글자 작게 표시</small><br>
    2<sup>e</sup>, 2<sub>n</sub> 표현도 가능하다. <br>

    <h3>글자 태그 응용하여 여러 태그 사용해보기</h3>

    <p>태그들은 해당 태그 내에서 <mark>중첩</mark>으로 사용 가능하다.<br>
    <b>굵은</b>글자를 사용할 수도 있고, <em>기울기어나</em>, <s>취소선</s>을 넣는 등
    다양하게 사용할 수 <br>있다.</p>

      <a href="../index.html">메인페이지로 돌아가기</a>

      <!-- break : 줄바꿈 태그 -->
      <br /><!-- 단일 태그-->
      <!-- 글자의 단락(paragraph)  -->
      <h3>단락을 구분짓는 태그입니다.</h3>
      <p>
          첫번째 단락입니다.
      </p>
      <p>
          두번째 단락입니다.
      </p>
      단락 구분이 없는 문장입니다. 
      단락 구분이 없는 문장2입니다.             
  </body>
</html>

