<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
    <h1 align="center">페이지 레이아웃 설정</h1>
    <hr>
        <nav>menubar</nav>

    </header>

    <section>
        <p>content</p>
        <article>detail</article>
        <article>detail</article>
    </section>
      
    <aside>sidebar</aside>

    
    <footer>information</footer>

  

 
</body>
</html>