<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>웹 기반 빅데이터 시각화 개발자 양성과정 학습내용</h1>
    <h3>담당 강사 : 유정훈</h3>
    <h4>수강생 명 : 홍길동</h4>
    <hr>

    <ul>
        <li>프로그래밍 언어활용
            <ul><li><s>Java</s></li></ul>
        </li>
        <li>데이터 입출력 구현
            <ul><li><s>Oracle</s></li></ul>
        </li>
        <li>화면 구현
            <ol type="a">
                <li><mark>HTML5</mark></li>
                <li>CSS3</li>
                <li>JavaScript<sub>ECMA</sub></li>
                <li>JQuery<sup>3</sup></li>
            </ol>
        </li>
        <li>서버 개발 기술
            <ol type="i">
                <li>JDBC</li>
                <li>Servlet</li>
                <li>JSP</li>
                <li>AJAX</li>
            </ol>
        </li>
    </ul>

    <a href="../index.html">처음 페이지로 이동하기</a>
    
</body>
</html>