<!DOCTYPE html> <!-- 현재 웹 문서의 버전 명시 -->
<head>
    <meta charset="UTF-8"> <!--단일 태그-->
    <title>영역 관련 태그</title>
</head>
<body>
    <!-- 
        영역 관련 태그 
        <p> : 각 문단의 영역을 지정하는 태그 (block 속성 태그)
        <pre> : 소스코드로 입력한 내용 그대로 보여주는 태그 (block 속성 태그)
        <div> : 줄바꿈을 적용하여 이미 존재하는 다음 줄에 
                내용을 표현하는 태그 (block 태그)
        <span> : 줄 바꿈을 적용하지 않아 이전 요소(태그) 옆에 
                착 붙어 표현하는 영역 태그(옆에 착 붙는다고 해서 inline 태그라고 함)


        
     -->
    <h1>영역 관련 태그</h1>

    <h3>div 태그</h3>

    <div style="border:1px solid black;
                background : lightgreen;
                width : 100px;
                height : 100px;">
            첫번째 영역    
            </div>
    <div style="border:1px solid black;
            background : lightpink;
            width : 100px;
            height : 100px;">
        두번째 영역     
    </div>
    <div style="border:1px solid black;
        background : lightblue;
        width : 100px;
        height : 100px;">
        세번째 영역    
    </div>

    <h3>span 태그</h3>

    <span style = "border:1px solid black;
                   background : lightcoral;
                   width : 100px;
                   height : 100px;">
                   첫번째 영역
                </span>
    <span style = "border:1px solid black;
                   background : mistyrose;
                   width : 100px;
                   height : 100px;">
                   두번째 영역
                </span>
    <span style = "border:1px solid black;
                   background : lightgrey;
                   width : 100px;
                   height : 100px;">
                   세번째 영역
                </span>


                <br>
                <br>
                <br>
                <br>
    
    <hr>
    
    <h3>div와 span 태그의 영역 확인하기</h3>
    
    <h4>div 태그 영역</h4>
    <div style="background : lightgoldenrodyellow;">
        동해물과 백두산이 마르고 닳도록 
        하느님이 보우하사 우리 나라 만세 
        무궁화 삼천리 화려강산
        대한 사람 대한으로 길이 보전하세 
        남산 위에 저 소나무 철갑을 두른듯 
        바람서리 불변함은 우리 기상일세
        무궁화 삼천리 화려강산
        대한 사람 대한으로 길이 보전하세 
        가을 하늘 공활한데 높고 구름없이 
        밝은 달은 우리 가슴 일편 단심일세 
        이 기상과 이 맘으로 충성을 다 하여 
        괴로우나 즐거우나 나라 사랑하세 
    </div>

    <br>

    <h4>span 태그 영역</h4>
    <span style="background : skyblue;">
        법률이 헌법에 위반되는 여부가 재판의 전제가 된 경우에는
         법원은 헌법재판소에 제청하여 그 심판에 의하여 재판한다. 
         대법관은 대법원장의 제청으로 국회의 동의를 얻어 대통령이 임명한다.
국가는 국민 모두의 생산 및 생활의 기반이 되는 국토의 효율적이고 균형있는
 이용·개발과 보전을 위하여 법률이 정하는 바에 의하여 그에 관한 필요한 
 제한과 의무를 과할 수 있다.
국회에 제출된 법률안 기타의 의안은 회기중에 의결되지 못한 이유로 폐기되지 아니한다. 
다만, 국회의원의 임기가 만료된 때에는 그러하지 아니하다. 
언론·출판은 타인의 명예나 권리 또는 공중도덕이나 
사회윤리를 침해하여서는 아니된다. 언론·출판이 타인의 명예나 
권리를 침해한 때에는 피해자는 이에 대한 피해의 배상을 청구할 수 있다.

    </span>




    <br>
    <br>
    <br>

    <h4>p 태그 영역</h4>
    <p style="background: lavender;">

        모든 국민은 근로의 권리를 가진다. 국가는 사회적·경제적 방법으로 
        근로자의 고용의 증진과 적정임금의 보장에 노력하여야 하며, 법률이 
        정하는 바에 의하여 최저임금제를 시행하여야 한다.
대통령은 헌법과 법률이 정하는 바에 의하여 공무원을 임면한다. 
국가는 전통문화의 계승·발전과 민족문화의 창달에 노력하여야 한다. 
각급 선거관리위원회의 조직·직무범위 기타 필요한 사항은 법률로 정한다.
대법관의 임기는 6년으로 하며, 법률이 정하는 바에 의하여 연임할 수 있다. 
위원은 탄핵 또는 금고 이상의 형의 선고에 의하지 아니하고는 파면되지 아니한다.
    </p>

    <hr>

    <h3>iframe 태그 사용하기</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/72gZEC0O1D8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    <br>
    <br>
    <br>

    <a href="../index.html">메인으로 돌아가기</a>

    

</body>
</html>