<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>미디어 관련 태그</title>
  </head>
  <body>
    <!-- HTML5 부터는 윈도우 전용 플러그인(WMA)을 사용하지 않아도
            비디오, 음원 파일을 직접 HTML문서로 실행 시킬 수 있게 되었다! -->

    <h1>미디어 관련 태그</h1>

    <h3>오디오 관련 태그 (mp3, ogg)</h3>
    <audio src="../resources/sample/audio/major.mp3" controls="controls" autoplay="autoplay" loop="loop"></audio>
    <!-- autoplay기능은 브라우저마다 차이가 있음. -->
    <p>기본 모양은 같으나 브라우저 별로 제공되는 속성이 다르다. 따라서 웹 화면 개발 시 여러 브라우저에서 같은 기능을 수행하는지 호환성 체크를 할 수 있어야 한다.</p>
    <br />

    <h3>비디오 관련 태그(mp4, avi)</h3>
    <video src="../resources/sample/video/video1.mp4" controls="controls"></video>
    <br />
    <br />
    <br />

    <a href="../index.html">처음으로 돌아가기</a>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </body>
</html>
