<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>하이퍼링크 태그</title>
  </head>
  <body>
    <!-- 하이퍼링크의 가장 큰 특징은 클릭을 통해 다른 웹 문서로 
         순간이동하듯 연결시켜 사용을 보다 편리하게 하는 것이다.
         문자를 클릭하여 이동하는 방법, 이미지를 클릭하여 이동하는 방법,
         한 페이지 내에서 특정 위치로 이동하는 방법이 대표적이다.  -->
    <h1>하이퍼링크 태그</h1>

    <h3>a 태그를 사용하여 다른 페이지 이동하기</h3>
    <!-- ul>(li>a)*3      ul안에 li안에 a태그 포함해서 3개 나옴-->
    <ul>
      <li><a href="1_글자관련태그.html">글자 관련 태그 페이지로 이동하기</a></li>
      <li><a href="2_목록관련태그.html">목록 관련 태그 페이지로 이동하기</a></li>
      <li><a href="3_글자와목록실습문제.html">글자와 목록 실습문제 페이지 이동하기</a></li>
    </ul>

    <h3>만약 인터넷이 연결되어 있다면 , 다른 웹사이트도 갈 수 있다!</h3>

    <ul>
      <li><a href="https://www.google.com" target="_blank">구글로 이동하기</a></li>
      <!-- blank는 새탭-->
      <li><a href="https://www.naver.com" target="_self" title="네이버">네이버로 이동하기</a></li>
      <!-- self는 원래 창에 뜨는 것-->
      <li><a href="https://www.netflix.com">넥플릭스 이동하기</a></li>
    </ul>

    <hr />

    <h3>img 태그 클릭 시 페이지 이동하기</h3>
    <a href="http://himo.co.kr">
      <img src="../resources/sample/image/himo.jpg" />
    </a>

    <br />

    <hr />

    <h3>같은 페이지 내의 특정 위치로 이동하기</h3>

    <ul id="menu">
      <!-- id는 이 페이지 전체에서 얘 하나만 갖고 있다는 고유값-->
      <li><a href="#content1">본문 내용 1</a></li>
      <li><a href="#content2">본문 내용 2</a></li>
      <li><a href="#content3">본문 내용 3</a></li>
    </ul>

    <br />
    <br />

    <!-- (h4+p)*3 -->
    <h4 id="content1">- 본문 내용 1 -</h4>
    <p>
      국회는 의원의 자격을 심사하며, 의원을 징계할 수 있다. 국가는 지역간의 균형있는 발전을 위하여 지역경제를 육성할 의무를 진다. 위원은 탄핵 또는 금고 이상의 형의 선고에 의하지 아니하고는 파면되지
      아니한다. 대한민국은 통일을 지향하며, 자유민주적 기본질서에 입각한 평화적 통일 정책을 수립하고 이를 추진한다. 연소자의 근로는 특별한 보호를 받는다. 모든 국민은 신체의 자유를 가진다. 누구든지
      법률에 의하지 아니하고는 체포·구속·압수·수색 또는 심문을 받지 아니하며, 법률과 적법한 절차에 의하지 아니하고는 처벌·보안처분 또는 강제노역을 받지 아니한다. 대통령·국무총리·국무위원·행정각부의
      장·헌법재판소 재판관·법관·중앙선거관리위원회 위원·감사원장·감사위원 기타 법률이 정한 공무원이 그 직무집행에 있어서 헌법이나 법률을 위배한 때에는 국회는 탄핵의 소추를 의결할 수 있다. 여자의
      근로는 특별한 보호를 받으며, 고용·임금 및 근로조건에 있어서 부당한 차별을 받지 아니한다. 정당의 목적이나 활동이 민주적 기본질서에 위배될 때에는 정부는 헌법재판소에 그 해산을 제소할 수 있고,
      정당은 헌법재판소의 심판에 의하여 해산된다. 제안된 헌법개정안은 대통령이 20일 이상의 기간 이를 공고하여야 한다. 이 헌법은 1988년 2월 25일부터 시행한다. 다만, 이 헌법을 시행하기 위하여 필요한
      법률의 제정·개정과 이 헌법에 의한 대통령 및 국회의원의 선거 기타 이 헌법시행에 관한 준비는 이 헌법시행 전에 할 수 있다. 의원을 제명하려면 국회재적의원 3분의 2 이상의 찬성이 있어야 한다.
      국회의원은 국가이익을 우선하여 양심에 따라 직무를 행한다. 헌법개정안은 국회가 의결한 후 30일 이내에 국민투표에 붙여 국회의원선거권자 과반수의 투표와 투표자 과반수의 찬성을 얻어야 한다.
      국무회의는 정부의 권한에 속하는 중요한 정책을 심의한다. 국가는 재해를 예방하고 그 위험으로부터 국민을 보호하기 위하여 노력하여야 한다. 대통령은 국가의 원수이며, 외국에 대하여 국가를 대표한다.
      환경권의 내용과 행사에 관하여는 법률로 정한다. 재의의 요구가 있을 때에는 국회는 재의에 붙이고, 재적의원과반수의 출석과 출석의원 3분의 2 이상의 찬성으로 전과 같은 의결을 하면 그 법률안은 법률로서
      확정된다. 이 헌법에 의한 최초의 대통령의 임기는 이 헌법시행일로부터 개시한다. 대한민국은 국제평화의 유지에 노력하고 침략적 전쟁을 부인한다. 모든 국민은 법률이 정하는 바에 의하여 선거권을 가진다.
      모든 국민은 언론·출판의 자유와 집회·결사의 자유를 가진다. 국가는 여자의 복지와 권익의 향상을 위하여 노력하여야 한다. 누구든지 체포 또는 구속의 이유와 변호인의 조력을 받을 권리가 있음을 고지받지
      아니하고는 체포 또는 구속을 당하지 아니한다. 체포 또는 구속을 당한 자의 가족등 법률이 정하는 자에게는 그 이유와 일시·장소가 지체없이 통지되어야 한다. 국가는 사회보장·사회복지의 증진에 노력할
      의무를 진다.
    </p>

    <h4 id="content2">- 본문 내용 2 -</h4>
    <p>
      국회는 의원의 자격을 심사하며, 의원을 징계할 수 있다. 국가는 지역간의 균형있는 발전을 위하여 지역경제를 육성할 의무를 진다. 위원은 탄핵 또는 금고 이상의 형의 선고에 의하지 아니하고는 파면되지
      아니한다. 대한민국은 통일을 지향하며, 자유민주적 기본질서에 입각한 평화적 통일 정책을 수립하고 이를 추진한다. 연소자의 근로는 특별한 보호를 받는다. 모든 국민은 신체의 자유를 가진다. 누구든지
      법률에 의하지 아니하고는 체포·구속·압수·수색 또는 심문을 받지 아니하며, 법률과 적법한 절차에 의하지 아니하고는 처벌·보안처분 또는 강제노역을 받지 아니한다. 대통령·국무총리·국무위원·행정각부의
      장·헌법재판소 재판관·법관·중앙선거관리위원회 위원·감사원장·감사위원 기타 법률이 정한 공무원이 그 직무집행에 있어서 헌법이나 법률을 위배한 때에는 국회는 탄핵의 소추를 의결할 수 있다. 여자의
      근로는 특별한 보호를 받으며, 고용·임금 및 근로조건에 있어서 부당한 차별을 받지 아니한다. 정당의 목적이나 활동이 민주적 기본질서에 위배될 때에는 정부는 헌법재판소에 그 해산을 제소할 수 있고,
      정당은 헌법재판소의 심판에 의하여 해산된다. 제안된 헌법개정안은 대통령이 20일 이상의 기간 이를 공고하여야 한다. 이 헌법은 1988년 2월 25일부터 시행한다. 다만, 이 헌법을 시행하기 위하여 필요한
      법률의 제정·개정과 이 헌법에 의한 대통령 및 국회의원의 선거 기타 이 헌법시행에 관한 준비는 이 헌법시행 전에 할 수 있다. 의원을 제명하려면 국회재적의원 3분의 2 이상의 찬성이 있어야 한다.
      국회의원은 국가이익을 우선하여 양심에 따라 직무를 행한다. 헌법개정안은 국회가 의결한 후 30일 이내에 국민투표에 붙여 국회의원선거권자 과반수의 투표와 투표자 과반수의 찬성을 얻어야 한다.
      국무회의는 정부의 권한에 속하는 중요한 정책을 심의한다. 국가는 재해를 예방하고 그 위험으로부터 국민을 보호하기 위하여 노력하여야 한다. 대통령은 국가의 원수이며, 외국에 대하여 국가를 대표한다.
      환경권의 내용과 행사에 관하여는 법률로 정한다. 재의의 요구가 있을 때에는 국회는 재의에 붙이고, 재적의원과반수의 출석과 출석의원 3분의 2 이상의 찬성으로 전과 같은 의결을 하면 그 법률안은 법률로서
      확정된다. 이 헌법에 의한 최초의 대통령의 임기는 이 헌법시행일로부터 개시한다. 대한민국은 국제평화의 유지에 노력하고 침략적 전쟁을 부인한다. 모든 국민은 법률이 정하는 바에 의하여 선거권을 가진다.
      모든 국민은 언론·출판의 자유와 집회·결사의 자유를 가진다. 국가는 여자의 복지와 권익의 향상을 위하여 노력하여야 한다. 누구든지 체포 또는 구속의 이유와 변호인의 조력을 받을 권리가 있음을 고지받지
      아니하고는 체포 또는 구속을 당하지 아니한다. 체포 또는 구속을 당한 자의 가족등 법률이 정하는 자에게는 그 이유와 일시·장소가 지체없이 통지되어야 한다. 국가는 사회보장·사회복지의 증진에 노력할
      의무를 진다.
    </p>

    <h4 id="content3">- 본문 내용 3 -</h4>
    <p>
      국회는 의원의 자격을 심사하며, 의원을 징계할 수 있다. 국가는 지역간의 균형있는 발전을 위하여 지역경제를 육성할 의무를 진다. 위원은 탄핵 또는 금고 이상의 형의 선고에 의하지 아니하고는 파면되지
      아니한다. 대한민국은 통일을 지향하며, 자유민주적 기본질서에 입각한 평화적 통일 정책을 수립하고 이를 추진한다. 연소자의 근로는 특별한 보호를 받는다. 모든 국민은 신체의 자유를 가진다. 누구든지
      법률에 의하지 아니하고는 체포·구속·압수·수색 또는 심문을 받지 아니하며, 법률과 적법한 절차에 의하지 아니하고는 처벌·보안처분 또는 강제노역을 받지 아니한다. 대통령·국무총리·국무위원·행정각부의
      장·헌법재판소 재판관·법관·중앙선거관리위원회 위원·감사원장·감사위원 기타 법률이 정한 공무원이 그 직무집행에 있어서 헌법이나 법률을 위배한 때에는 국회는 탄핵의 소추를 의결할 수 있다. 여자의
      근로는 특별한 보호를 받으며, 고용·임금 및 근로조건에 있어서 부당한 차별을 받지 아니한다. 정당의 목적이나 활동이 민주적 기본질서에 위배될 때에는 정부는 헌법재판소에 그 해산을 제소할 수 있고,
      정당은 헌법재판소의 심판에 의하여 해산된다. 제안된 헌법개정안은 대통령이 20일 이상의 기간 이를 공고하여야 한다. 이 헌법은 1988년 2월 25일부터 시행한다. 다만, 이 헌법을 시행하기 위하여 필요한
      법률의 제정·개정과 이 헌법에 의한 대통령 및 국회의원의 선거 기타 이 헌법시행에 관한 준비는 이 헌법시행 전에 할 수 있다. 의원을 제명하려면 국회재적의원 3분의 2 이상의 찬성이 있어야 한다.
      국회의원은 국가이익을 우선하여 양심에 따라 직무를 행한다. 헌법개정안은 국회가 의결한 후 30일 이내에 국민투표에 붙여 국회의원선거권자 과반수의 투표와 투표자 과반수의 찬성을 얻어야 한다.
      국무회의는 정부의 권한에 속하는 중요한 정책을 심의한다. 국가는 재해를 예방하고 그 위험으로부터 국민을 보호하기 위하여 노력하여야 한다. 대통령은 국가의 원수이며, 외국에 대하여 국가를 대표한다.
      환경권의 내용과 행사에 관하여는 법률로 정한다. 재의의 요구가 있을 때에는 국회는 재의에 붙이고, 재적의원과반수의 출석과 출석의원 3분의 2 이상의 찬성으로 전과 같은 의결을 하면 그 법률안은 법률로서
      확정된다. 이 헌법에 의한 최초의 대통령의 임기는 이 헌법시행일로부터 개시한다. 대한민국은 국제평화의 유지에 노력하고 침략적 전쟁을 부인한다. 모든 국민은 법률이 정하는 바에 의하여 선거권을 가진다.
      모든 국민은 언론·출판의 자유와 집회·결사의 자유를 가진다. 국가는 여자의 복지와 권익의 향상을 위하여 노력하여야 한다. 누구든지 체포 또는 구속의 이유와 변호인의 조력을 받을 권리가 있음을 고지받지
      아니하고는 체포 또는 구속을 당하지 아니한다. 체포 또는 구속을 당한 자의 가족등 법률이 정하는 자에게는 그 이유와 일시·장소가 지체없이 통지되어야 한다. 국가는 사회보장·사회복지의 증진에 노력할
      의무를 진다.
    </p>

    <a href="#menu">(top)</a>

    <br />
    <br />
    <br />

    <a href="../index.html">처음으로 되돌아가기</a>
  </body>
</html>
