<!-- @format -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>HTML 종합 실습 문제2</title>
  </head>
  <body>
      <form>
          <fieldset>
              <legend>납품자정보</legend>
              <ol>
                  <li><label for="pname">납품자명 :&nbsp;</label><input type="text" placeholder="name"></li>
                  <li><label for="pemail">email :&nbsp;</label><input type="url" placeholder="answs@naver.com"></li>
                  <li><label for="phomepage">홈페이지 :&nbsp;</label><input type="text" placeholder="http://"></li>
              </ul>
          </fieldset>
      </form>
      <form>
          <fieldset>
              <legend>납품 정보</legend>
              <ul>
                  <li><label for="productname">상품명 : &nbsp;</label> <input type="text"></li><br>
                  <li><label for="pnum">납품수량 : &nbsp; </label><input type="text" min="100" placeholder="최소100"></li><br>
                  <li><label for="pgrade">납품등급 :</label><input type="range" min="1" max="100" value="50"></li><br>
                  <li><label for="gita">기타사항 : </label> <textarea name="gita" id="gita" cols="30" rows="3"></textarea></li>
              </ul>
          </fieldset>
      </form>
      <br>
      <button type="submit">send massage</button>
  </body>
</html>
