<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    
    <title>UI test</title>
    <style>
        .html5{
            border : 1px dashed red;
            margin : 10px;
        }
        section{
            height : 400px;
        }

        #left{
            height: 90%;
            width: 48%;
            float: left;
        }
        #right{
            height: 90%;
            width: 48%;
            float: right;
        }
    </style>
</head>
<body>
    <header class="html5">
        <h1>제목</h1>

        <nav class="html5">
            <span>
                <a href="">메뉴1</a>
                <a href="">메뉴2</a>
                <a href="">메뉴3</a>
                <a href="">메뉴4</a>
            </span>
        </nav>
    </header>

    <section class="html5">
        <article class="html5" id="left">
        
                <div>내용1</div>
            
        </article>
        <article class="html5" id="right">
                
                <div>내용2</div>
                
        </article>
        </section>
    <footer class="html5">
        <address>
            copyright &copy; all right reserved
        </address>
    </footer>
</body>
</html>



